<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/lteLayout.html}">
</head>
<body>
    <div layout:fragment="content">
        <h1>ReadPage</h1>

        [[${todo}]]

        <ul class = "postsDiv ">
        
        </ul>
    
        <div>
            <form method="post" class="registData">
                TITLE : <input type="text" name="registTitle">
                AUTHOR : <input type="text" name="registAuthor">
                <button type="submit" >submit</button>
            </form>
        </div>

        <!-- Modal -->
        <div class="replyModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                
                <div class="modal-body">
                    <input type="text" name ="gno" readonly>
                    <input type="text" name="reply" value="AAAA">
                    <input type="text" name="replyer" value= "BBB">

                </div>

                <div class="modal-footer">
                  <button type="button"  class="btn btn-info btnAdd">ADD</button>
                  <button type="button"  class="btn btn-danger btnDelete">DELETE</button>
                  <button type="button" class="btn btn-primary btnModify">MODIFY</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">ClOSE</button>
                </div>
              </div>
            </div>
        </div>
          <!-- Modal End -->

          <div>
            <ul class="replyUL">
      
            </ul>
          </div>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    </div>

    <!-- 댓글 목록 fragment-->
 


    <!-- JavaScript의 객체로 쓸 수 있음 -->
    <script layout:fragment ="script" th:inline = "javascript">
        
        const replyModal = new bootstrap.Modal(document.querySelector(".replyModal"))
        const replyUL = document.querySelector(".replyUL")

        // 자바스크립트의 객체로 변환 => 구조분해할당 tno만 빼냄 
        const {tno} = [[${todo}]]

        //모달관리
        const gnoInput = document.querySelector("input[name='gno']")
        const replyInput = document.querySelector("input[name='reply']")
        const replyerInput = document.querySelector("input[name='replyer']")

        // 댓글 목록가져오기
        const getRemoteList = async (pageNum) => {
            const {data} = await axios.get(`http://192.168.0.33:8080/replies/${tno}/list?page=${page}`)
        
            return data
        }
        
        // 댓글 등록 =>body로 날림
        const postRemoteAdd = async(reply) => {

            const {data} = await axios.post(`http://192.168.0.33:8080/replies/${tno}/new`, reply)
        
            return data

        }

        let page = 1

        // 비동기 테스트
        // getRemoteList(page)
        //     .then(result => {
        //         console.log(result)
        //     })


        // 비동기 등록 테스트
        const reply = {
                        tno:tno,
                        reply:"Test Reply", 
                        replyer:"r1"
                    }

                    
        // JavaScript의 함수는 파라미터 개수가 맞지않아도 호출이된다 (undifined)
        const loadReply = async(page, goEnd=false) => {
          
          const data = await getRemoteList(page)

          console.log("loadReply........")
          console.log(data)

          const {list, total} = data

          let str = ""

          for(let i = 0; i< list.length; i++) {
            
            const {rno, reply, replyer, gno} = list[i]

            str += `<li data-rno=${rno} data-gno=${gno}> ${reply} <button>답글</button></li>`
          } //end for

          console.log(str)
          replyUL.innerHTML = str
        }

        loadReply(page,true)

        // 답글 버튼 클릭했을때
        replyUL.addEventListener("click", (e) => {
          
          e.stopPropagation()
          e.preventDefault()

          // li를 클릭한건지 답글의 버튼을 클릭한건지 모름
          const target = e.target

          // 태그 이름을 알 수 있다.
          console.dir(target)

          const tag = target.tagName

          if(tag === 'LI'){

          }else if(tag === 'BUTTON'){

            // 인접한 상위타입 태그
            const liObj = target.closest("li")
            const gno = liObj.getAttribute("data-gno")

            // gno 값을 넣어줌
            gnoInput.value = gno

            replyModal.show()

          }

        },false)

        //Modal창에 Input 데이터 출력
        document.querySelector(".btnAdd").addEventListener("click", e => {

          const reply = {
                          tno:tno,
                          gno:gnoInput.value,
                          reply : replyInput.value,
                          replyer:replyerInput.value
                        }

          console.log(reply)

          postRemoteAdd(reply)
                    .then(result =>{
                        alert("성공")
                        loadReply(page)
                    })
                    .catch(e => {
                        console.log("실패")
                        console.log(e.response.data)
                    })

        },false)

    </script>

</body>
</html>